<%= form_with(model: @user, local: true) do |f| %>
  
  <p>
    <%= f.label :name, "User Name" %><br/>
    <%= f.text_field :name %>
  </p>

  <p>Gender
    <%= f.radio_button :gender, "Male" %>
    <%= f.label :gender_male, "Male" %>
    <%= f.radio_button :gender, "Female" %>
    <%= f.label :gender_female, "Female" %>
    <%= f.radio_button :gender, "O" %>
    <%= f.label :gender_o, "O" %>
  </p>

  <p>
    <%= f.label :constituency_id, "Constituency ID" %><br/>
    <%= f.text_field :constituency_id %>
  </p>

  <div>
    <%= f.submit %>
  </div>
<% end %>
<% if @user.errors.any? %>
  <div style="color: red">
    <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
      <% user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
