<p style="color: green"><%= notice %></p>

<div>
  <strong>User ID</strong>
  <p id="user_id"></p>
</div>
<div>
  <strong>User Name</strong> 
  <p id="user_name"></p>
</div>
<div>
  <strong>Gender</strong>
  <p id="user_gender"></p>
</div>
<div>
  <strong>Constituency ID user belongs to</strong>
  <p id="user_constituency"></p>
</div>
<div>
  <strong>Number of voters in the Constituency</strong>
  <p id="user_constituency_voter_count"></p>
</div>
<br/>
<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>
  <%= button_to "Destroy this user", user_path(@user), method: :delete %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    let voterCountElement = document.getElementById('user_constituency_voter_count');
    let userID = document.getElementById('user_id');
    let userName = document.getElementById('user_name');
    let userGender = document.getElementById('user_gender');
    let userConstituency = document.getElementById('user_constituency');
    fetch('/users/<%= @user.id %>.json')
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        // console.log(data);
        userID.textContent = data.user._id;
        userName.textContent = data.user.name
        userGender.textContent = data.user.gender
        userConstituency.textContent = data.user.constituency_id;
        voterCountElement.textContent = data.voter_count;
      })
      .catch(error => {
        console.error('There was a problem with the fetch operation:', error);
      });
  });
</script>
