<head>
  <title> Candidate Information </title>
</head>
<div class="wrapper">
  <div class="flash_message">
    <p style="color: green"><%= notice %></p>
  </div>
  <div class="information">
    <%= link_to "Candidates", candidates_path %>
    <div class="heading_container">
      <div class="left">
        <h3 id="candidate_name"></h3>
      </div>
      <div class="right">
        <button class="filter_button" title="Edit candidate"><%= link_to "Edit Candidate", edit_candidate_path(@candidate) %></button>
        <%= button_to "Destroy Candidate", candidate_path(@candidate), method: :delete, class: "filter_button", form_class: "myButton" %>
      </div>
    </div>

    <div class="information_subdiv">
      <strong>ID</strong>
      <p id="candidate_id" class="atrribute_value"></p>
    </div>
    <div class="information_subdiv">
      <strong>Type</strong>
      <p id="candidate_type" class="atrribute_value"></p>
    </div>
    <div class="information_subdiv">
      <strong>Gender</strong>
      <p id="candidate_gender" class="atrribute_value"></p>
    </div>
    <div class="information_subdiv">
      <strong>Age</strong>
      <p id="candidate_age" class="atrribute_value"></p>
    </div>
    <div class="information_subdiv">
      <strong>Constituency ID</strong>
      <p id="candidate_constituency_id" class="atrribute_value"></p>
    </div>
    <div class="information_subdiv">
      <strong>Party Name</strong>
      <p id="candidate_party_name" class="atrribute_value"></p>
    </div>
    <div class="information_subdiv">
      <strong>Position in Constituency</strong>
      <p id="candidate_position" class="atrribute_value"></p>
    </div>
    <div class="information_subdiv">
      <strong>Votes obtained</strong>
      <p id="candidate_votes_obtained" class="atrribute_value"></p>
    </div>
    <div class="information_subdiv">
      <strong>Vote Share Percentage</strong>
      <p id="candidate_vote_share_percentage" class="atrribute_value"></p>
    </div>
  </div>
</div>

<script>
	document.addEventListener('DOMContentLoaded', function() {
	  let candidatePartyName = document.getElementById('candidate_party_name');
      let candidateID = document.getElementById('candidate_id');
      let candidateName= document.getElementById('candidate_name');
      let candidateType = document.getElementById('candidate_type');
      let candidateGender = document.getElementById('candidate_gender');
      let candidateAge = document.getElementById('candidate_age');
      let candidateConstituencyID = document.getElementById('candidate_constituency_id');
      let candidatePosition = document.getElementById('candidate_position');
      let candidateVotesObtained = document.getElementById('candidate_votes_obtained');
      let candidateVoteSharePercentage = document.getElementById('candidate_vote_share_percentage');
	    fetch('/candidates/<%= @candidate.id %>.json')
	      .then(response => {
	        if (!response.ok) {
	          throw new Error('Network response was not ok');
	        }
	        return response.json();
	      })
	      .then(data => {
          candidateID.textContent = data.candidate._id || "N/A";
          candidateName.textContent = data.candidate.candidate_name || "N/A";
          candidateType.textContent = data.candidate.candidate_type || "N/A";
          candidateGender.textContent = data.candidate.sex || "N/A";
          candidateAge.textContent = data.candidate.age || "N/A";
          candidateConstituencyID.textContent = data.candidate.constituency_id || "N/A";
          candidatePosition.textContent = data.candidate.position || "N/A";
          candidateVotesObtained.textContent = data.candidate.votes_obtained || "N/A";
          candidateVoteSharePercentage.textContent = data.candidate.vote_share_percentage + ' %' || "N/A";
	        candidatePartyName.textContent = data.partyName;
	      })
	      .catch(error => {
	        console.error('There was a problem with the fetch operation:', error);
	      });
  	});
</script>
